

.empty_section {
    width: 100%;
    padding-top: 135px;
    transition: .2s ease all;
    @media (max-width: 900px) {
        padding-top: 100px;
    }
    @media (max-width: 500px) {
        padding-top: 65px;
    }

    &__container {
        gap: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .circle_border {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 1px solid silver;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 125px;
                height: 125px;
            }
        }

        .advice {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            /* identical to box height */

            color: #212529;
            text-align: center;
        }

        .continue_btn {
            border: none;
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            width: 204px;
            height: 50px;
            left: 858px;
            top: 726px;

            background: #000000;
            font-family: 'Roboto';
            font-style: normal;
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
    }
}