@import "./variables.scss";

.header {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 90px;
  position: fixed;
  align-items: center;
  background-color: $bg;
  max-height: $headerHeight;
  justify-content: space-between;
  @include breakpoint(sm) {
    display: none;
  }
  @include breakpoint(lg) {
    padding: 0 25px;
    max-height: 80px;
  }
  @include breakpoint(md) {
    max-height: 70px;
  }
  &_l {
    display: flex;
    align-items: center;
    &_img_container {
      width: 169px;
      height: 68px;
    }
    &_links {
      width: 246px;
      display: flex;
      column-gap: 40px;
      justify-content: space-between;
      @include breakpoint(lg) {
        column-gap: 20px;
        width: 170px;
      }
    }
  }
  &_r {
    width: 241px;
    display: flex;
    column-gap: 25px;
    justify-content: space-between;
    @include breakpoint(lg) {
      column-gap: 20px;
      width: 220px;
    }
    button{
      font-weight: 300;
    }
    &_langs {
      display: flex;
      align-items: center;
    }
    span {
      margin: 0 5px;
    }
  }
}

.mobileHeader {
  @include breakpoint(sm) {
    display: flex;
  }
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: none;
  position: fixed;
  align-items: center;
  background-color: $bg;
  justify-content: space-between;
  div {
    cursor: pointer;
  }
  &_icon {
    width: 68px;
    height: 68px;
    @include breakpoint(xs) {
      width: 55px;
      height: 55px;
    }
  }
  &_image_container {
    width: 104px;
    height: 46px;
  }
}

.mobileDrop {
  @include breakpoint(sm) {
    display: block;
  }
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: none;
  height: 100vh;
  position: fixed;
  background-color: #000;
  &_header {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    &_closeIcon {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
    }
    &_image_container {
      width: 104px;
      height: 46px;
    }
    &_right {
      margin-right: 20px;
    }
  }
  &_body {
    display: flex;
    row-gap: 15px;
    padding-left: 15px;
    flex-direction: column;
    a {
      color: #fff;
      font-weight: 300;
    }
    &_langChange {
      display: flex;
      color: #fff;
      span {
        margin: 0 5px;
      }
      button {
        color: #fff;
      }
    }
  }
}
