@import "./variables.scss";
.home{
    background: $bg;
    width: 100%;
    height: $headerHeight;
    top: 100px;
    .target{
        background: $primary;
        width: 100%;
        height: $headerHeight;
        border: 1px solid $dark;
        img{
            width: 100px;
            height: 100px;
        }
    }
}