@import "./variables.scss";

.home {
  width: 100%;
  display: flex;
  height: 100vh;
  margin-top: 180px;
  flex-direction: column;
  // background-color: rgb(37, 26, 26);
  &_text1 {
    font-size: 2.7vw;
  &_product_promo_text {
    @include maxWidthPosition;
    max-width: 1400px;
    padding-top: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_top {
      font-size: 46px;
      font-weight: 400;
      text-align: center;
      // ______responsive______
      @include breakpoint(xxl) {
        font-size: 41px;
      }
      @include breakpoint(xl) {
        font-size: 32px;
      }
      @include breakpoint(lg) {
        font-size: 27px;
      }
      @include breakpoint(sm) {
        font-size: 18px;
        width: 315px;
      }
      @include breakpoint(xs) {
        font-size: 15px;
        width: 300px;
      }
    }
    &_bottom {
      width: 100%;
      margin-top: 1.7%;
      text-align: center;
      font-size: 68px;
      font-weight: 100;
      margin-bottom: 100px;
      // ______responsive______
      @include breakpoint(xxl) {
        font-size: 63px;
      }
      @include breakpoint(xl) {
        font-size: 48px;
      }
      @include breakpoint(lg) {
        font-size: 45px;
        font-weight: 100;
        margin-bottom: 70px;
      }
      @include breakpoint(md) {
        font-size: 40px;
      }
      @include breakpoint(sm) {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 50px;
      }
      @include breakpoint(xs) {
        font-size: 20px;
      }
    }
    // ______responsive______
    @include breakpoint(xxl) {
      padding: 180px 70px 0;
    }
    @include breakpoint(xl) {
      padding: 180px 70px 0;
    }
    @include breakpoint(lg) {
      padding: 180px 55px 0;
    }
    @include breakpoint(md) {
      padding: 140px 30px 0;
    }
    @include breakpoint(sm) {
      padding: 90px 0 0;
      max-width: 334px;
    }
    @include breakpoint(xs) {
      padding: 90px 0 0;
      max-width: 250px;
    }
  }
  &_img {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
    &_item {
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
      position: absolute;
    }
  }
  &_collections_text {
    width: 100%;
    margin-top: 150px;
    text-align: center;
    font-size: 92px;
    font-weight: 100;
  }
  &_scroll_animation_container {
    padding-top: 100px;
    // height: 100vh;
    @include maxWidthPosition;
    // position: relative;
    max-width: 1735px;
    &_fiveImg {
      display: flex;
      justify-content: space-between;
      height: 690px;
      // gap: 40px;
      position: relative;
      div {
        width: 315px;
        height: 600px;
        img {
          object-fit: cover;
        }
      }
      div:nth-child(1) {
        margin: auto 0;
      }
      div:nth-child(2) {
        margin: auto 0 0;
      }
      div:nth-child(3) {
        margin: auto 0;
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 315px;
          height: 600px;
          z-index: 2;
          object-position: 50% 10%;
        }
      }
      div:nth-child(4) {
        margin: 0 0 auto 0;
      }
      div:nth-child(5) {
        margin: auto 0 0;
      }
    }
  }
}

.img_indicator {
  display: flex;
  justify-content: center;
  @include breakpoint(sm) {
    margin-top: 41px;
  }
  margin-top: 51px;
}

// &_scroll {
//   display: flex;
//   justify-content: space-around;

//   position: relative;
//   border: 1px solid black;
//   width: 100%;

//   @include breakpoint(md) {
//     margin-top: 130px;
//     height: 2700px;
//   }
//   @include breakpoint(sm) {
//     margin-top: 10px;
//     height: 1500px;
//   }
// }
// &_scrollImage {
//   object-position: top;
//   object-fit: cover;
//   @include breakpoint(md) {
//     width: 315px;

//     min-height: 600px;
//   }
//   @include breakpoint(sm) {
//     width: 78px;
//     height: 200px;
//   }
//   img{
//     width: 100%;
//     height: 100%;
//   }
// }
// &_scrollImage3{
//   object-position: top;
//   object-fit: cover;
//   @include breakpoint(md) {
//     width: 315px;

//     min-height: 600px;
//   }
//   @include breakpoint(sm) {
//     width: 78px;

//   }
//   img{
//     width: 100%;
//     height: 100%;
//   }
// }
// &_div7 {

//   position: absolute;
//   bottom: 0;
//   left: 0;
//   color: $light;
//   width: 100%;
//   height: 100px;
//   // z-index: 10;
//   background-image: linear-gradient(180deg, rgba(66, 65, 65, 0) 0%, rgba(58, 56, 56, 0.21) 16.51%, rgba(44, 43, 43, 0.38) 26.93%, rgba(22, 22, 22, 0.55) 37.14%, rgba(1, 1, 1, 0.8) 50.89%, #010101 65.68%, #000000 100%);
//   // transform: translate(-50%, -50%) ;

//   @include breakpoint(md) {
//     height: 700px;
//   }
//   @include breakpoint(sm) {
//     height: 700px;

//   }

//   &_text3 {
//     padding-top: 250px;
//     display: flex;

//     justify-content: flex-start;
//     font-family: $Roboto;

//     font-weight: 100;

//     @include breakpoint(md) {
//       width: 1359px;
//       font-size: 96px;
//       padding-left: 90px;
//     }
//     @include breakpoint(sm) {
//       font-size: 78px;
//     }
//   }
//   &_box {
//     width: 90%;
//     height: 200px;

//     display: flex;
//     flex-direction: row;

//     @include breakpoint(md) {
//       margin-top: 100px;
//       margin-left: 90px;
//       gap: 20px;
//     }
//     @include breakpoint(sm) {
//       margin-top: 20px;
//       margin-left: 10px;
//       gap: 10px;
//       display: flex;
//       flex-direction: column;
//     }
//     &_text {
//       @include breakpoint(md){

//         width: 45%;
//         border: 1px solid white;
//         font-size: 36px;
//         font-weight: 200;
//       }
//       @include breakpoint(sm){
//         width: 100%;
//         font-size: 20px;
//         font-weight: 200;

//       }
//     }
//   }
// }
}
