@import "./variables.scss";

.home {
  width: 100%;
  &_product_promo_text {
    @include maxWidthPosition;
    max-width: 1400px;
    padding-top: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_top {
      font-size: 46px;
      font-weight: 400;
      text-align: center;
      // ______responsive______
      @include breakpoint(xxl) {
        font-size: 41px;
      }
      @include breakpoint(xl) {
        font-size: 32px;
      }
      @include breakpoint(lg) {
        font-size: 27px;
      }
      @include breakpoint(sm) {
        font-size: 18px;
        width: 315px;
      }
      @include breakpoint(xs) {
        font-size: 15px;
        width: 300px;
      }
    }
    &_bottom {
      width: 100%;
      margin-top: 1.7%;
      text-align: center;
      font-size: 68px;
      font-weight: 100;
      margin-bottom: 100px;
      // ______responsive______
      @include breakpoint(xxl) {
        font-size: 63px;
      }
      @include breakpoint(xl) {
        font-size: 48px;
      }
      @include breakpoint(lg) {
        font-size: 45px;
        font-weight: 100;
        margin-bottom: 70px;
      }
      @include breakpoint(md) {
        font-size: 40px;
      }
      @include breakpoint(sm) {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 50px;
      }
      @include breakpoint(xs) {
        font-size: 20px;
      }
    }
    // ______responsive______
    @include breakpoint(xxl) {
      padding: 180px 70px 0;
    }
    @include breakpoint(xl) {
      padding: 180px 70px 0;
    }
    @include breakpoint(lg) {
      padding: 180px 55px 0;
    }
    @include breakpoint(md) {
      padding: 140px 30px 0;
    }
    @include breakpoint(sm) {
      padding: 90px 0 0;
      max-width: 334px;
    }
    @include breakpoint(xs) {
      padding: 90px 0 0;
      max-width: 250px;
    }
  }
  &_slideImg {
    &_img {
      width: 100vw;
      height: 90vh;
      overflow: hidden;
      position: relative;
      &_item {
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        position: absolute;
      }
      // ______responsive______
      @include breakpoint(sm) {
        height: 610px;
      }
    }
    &_indicator {
      display: flex;
      justify-content: center;
      @include breakpoint(sm) {
        margin-top: 40px;
      }
      margin-top: 51px;
    }
  }
  &_collections_text {
    width: 100%;
    margin-top: 150px;
    text-align: center;
    font-size: 92px;
    font-weight: 100;
    // ______responsive______
    @include breakpoint(sm) {
      font-size: 48px;
      margin-top: 95px;
    }
  }
  &_scroll_animation {
    padding: 110px 0 0;
    position: relative;
    width: 100%;
    margin-bottom: 20vh;
    &_fiveImg {
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 40px;
      img {
        max-width: 315px;
        max-height: 600px;
        min-height: 600px;
        width: 315px;
        height: 600px;
        object-fit: cover;
      }
      div:nth-child(1) {
        margin-top: 38px;
      }
      div:nth-child(2) {
        margin-top: 90px;
      }
      div:nth-child(3) {
        margin-top: 38px;
      }
      div:nth-child(5) {
        margin-top: 90px;
      }
      // ______responsive______
      @media (max-width: 1700px) {
        gap: 30px;
        img {
          max-width: 260px;
        }
      }
      @include breakpoint(xxl) {
        gap: 25px;
        img {
          max-width: 240px;
          max-height: 550px;
          min-height: 550px;
        }
      }
      @include breakpoint(xl) {
        gap: 25px;
        img {
          max-width: 200px;
          max-height: 450px;
          min-height: 450px;
        }
      }
      @include breakpoint(lg) {
        gap: 18px;
        img {
          max-width: 155px;
          max-height: 400px;
          min-height: 400px;
        }
      }
      @include breakpoint(sm) {
        gap: 10px;
        img {
          max-width: 72px;
          max-height: 260px;
          min-height: 260px;
        }
      }
    }
    // ______responsive______
    @include breakpoint(xxl) {
      margin-bottom: 30vh;
    }
  }
  &_shadow {
    position: absolute;
    bottom: -130vh;
    z-index: 5;
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(
      transparent 1%,
      rgba(0, 0, 0, 0.454) 15%,
      rgba(0, 0, 0, 0.454) 15%,
      #000 45%
    );
    &_detail {
      @include maxWidthPosition;
      padding: 0 90px 150px;
      width: 100%;
      color: $light;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-weight: 100;
        font-size: 96px;
        padding-bottom: 120px;
        // ______responsive______
        @include breakpoint(xxl) {
          font-size: 84px;
          padding-bottom: 50px;
        }
        @include breakpoint(lg) {
          font-size: 72px;
          padding-bottom: 30px;
        }
        @include breakpoint(sm) {
          font-size: 85px;
          padding-bottom: 55px;
        }
      }
      span {
        display: flex;
        gap: 117px;
        p {
          opacity: 0.85;
          max-width: 565px;
          font-weight: 100;
          font-size: 36px;
          // ______responsive______
          @include breakpoint(xxl) {
            font-size: 30px;
          }
          @include breakpoint(md) {
            max-width: none;
            width: 100%;
          }
          @include breakpoint(sm) {
            font-size: 20px;
            opacity: 0.95;
            line-height: 150%;
            letter-spacing: 0.05em;
          }
        }
        // ______responsive______
        @include breakpoint(xxl) {
          gap: 60px;
        }
        @include breakpoint(lg) {
          gap: 25px;
        }
        @include breakpoint(md) {
          flex-direction: column;
        }
        // @include breakpoint(sm) {
        //   gap: 50px;
        // }
      }
      // ______responsive______
      @include breakpoint(xxl) {
        padding: 0 50px 150px;
      }
      @include breakpoint(lg) {
        padding: 0 20px 100px;
      }
      @include breakpoint(sm) {
        padding: 0 20px 100px;
        top: 95%;
      }
    }
    // ______responsive______
    @include breakpoint(xxl) {
      height: 80vh;
    }
    @include breakpoint(sm) {
      height: 100vh;
    }
  }
  &_diff_scroll {
    width: 100%;
    background-color: #000;
    overflow: hidden;
    max-height: 4000px;
    &_container {
      @include maxWidthPosition;
      max-width: 2500px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      &_fitst_column {
        display: grid;
        // ______responsive______
        @include breakpoint(sm) {
          gap: 50px;
          grid-template-rows: 500px 500px;
        }
      }
      &_hover {
        position: absolute;
        transition: 0.5s;
        bottom: -100%;
        background: linear-gradient(transparent 10%, #000 60%);
        width: 100%;
        height: 50%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h1 {
          padding-left: 60px;
          font-size: 68px;
          font-weight: 100;
        }
        button {
          color: #fff;
          padding: 10px 60px 40px;
          font-size: 40px;
          display: flex;
          font-weight: 100;
          align-items: center;
          img {
            margin-left: 1%;
            width: 46px;
            height: 46px;
          }
        }
      }
      &_H {
        position: relative;
        max-width: 100%;
      }
      &_H:hover &_hover {
        cursor: pointer;
        bottom: 0;
      }
      &_second_column {
        display: grid;
        grid-template-rows: repeat(3, auto);
        height: 100%;
        // ______responsive______
        @include breakpoint(sm) {
          gap: 50px;
          grid-template-rows: 500px 500px 500px;
        }
      }
      // ______responsive______
      @include breakpoint(sm) {
        gap: 50px;
        grid-template-columns: 1fr;
      }
    }
  }
  &_nftCollection {
    width: 100%;
    background-color: #000;
    color: $bg;
    h1 {
      @include maxWidthPosition;
      padding: 300px 90px 140px;
      font-size: 92px;
      font-weight: 100;
      // ______responsive______
      @include breakpoint(xxl) {
        padding: 160px 50px 120px;
      }
      @include breakpoint(lg) {
        font-size: 72px;
        padding: 150px 20px 80px;
      }
      @include breakpoint(sm) {
        font-size: 48px;
        text-align: start;
        padding-left: 40px;
        padding-bottom: 20px;
      }
    }
    &_container {
      @include maxWidthPosition;
      padding: 0 90px;
      display: grid;
      column-gap: 40px;
      grid-template-columns: 1.4fr 1fr;
      overflow: hidden;
      &_firstColumn {
        width: 100%;
        height: 100%;
        img {
          height: 900px;
        }
        // ______responsive______
        @include breakpoint(sm) {
          display: none;
        }
        @include breakpoint(xxl) {
          img {
            height: 700px;
          }
        }
      }
      &_secondColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
          height: auto;
          max-height: 700px;
        }
        p {
          font-size: 26px;
          font-weight: 100;
          padding: 35px 0 30px;
          letter-spacing: 0.01em;
        }
        button {
          color: #fff;
          span {
            display: flex;
            align-items: center;
            font-size: 28px;
            position: relative;
            font-weight: 400;
            text-transform: none;
            span {
              font-weight: 500;
              margin-left: -3%;
            }
            img {
              height: 36px;
              width: 46px;
            }
          }
        }
        // ______responsive______
        @include breakpoint(sm) {
          display: grid;
          grid-template-rows: auto auto;
          h3 {
            grid-area: 1 / 1 / 2 / 2;
          }
          p {
            padding: 0;
          }
          button {
            padding: 30px 0 70px;
            span {
              font-size: 28px;
            }
          }
        }
      }
      // ______responsive______
      @include breakpoint(xxl) {
        padding: 0 50px;
      }
      @include breakpoint(lg) {
        padding: 0 20px;
        column-gap: 20px;
      }
      @include breakpoint(sm) {
        grid-template-columns: 1fr;
        padding: 0 40px;
      }
    }
  }
  &_artists {
    width: 100%;
    background-color: #000;
    color: $bg;
    h1 {
      @include maxWidthPosition;
      padding: 220px 90px 185px;
      font-size: 92px;
      font-weight: 100;
      // ______responsive______
      @include breakpoint(xxl) {
        padding: 160px 50px 120px;
      }
      @include breakpoint(lg) {
        font-size: 72px;
        padding: 150px 20px 80px;
      }
      @include breakpoint(sm) {
        font-size: 48px;
        text-align: start;
        padding-left: 40px;
      }
    }
    &_container {
      @include maxWidthPosition;
      padding: 0 90px 270px;
      display: grid;
      column-gap: 120px;
      grid-template-columns: 1fr 1fr 1fr;
      p {
        padding: 10px 0;
        font-size: 24px;
        font-weight: 100;
        // ______responsive______
        @include breakpoint(xl) {
          font-size: 18px;
        }
        @include breakpoint(sm) {
          font-size: 16px;
        }
      }
      h2 {
        font-size: 26px;
        font-weight: 400;
        padding: 0 0 30px;
        // ______responsive______
        @include breakpoint(xl) {
          font-size: 24px;
        }
        @include breakpoint(sm) {
        }
      }
      &_imgs {
        max-width: 500px;
        max-height: 620px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
        // ______responsive______
        @include breakpoint(sm) {
          max-width: none;
          max-height: none;
        }
      }
      // ______responsive______
      @include breakpoint(xxl) {
        column-gap: 50px;
        padding: 0 50px 250px;
      }
      @include breakpoint(lg) {
        column-gap: 20px;
        padding: 0 20px 140px;
      }
      @include breakpoint(sm) {
        padding: 0 40px 150px;
        row-gap: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
      }
    }
  }
}
