@import "variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

.container {
  margin-top: 100px;
  height: 100%;
  @include maxWidthPosition;
  .product_header {
    width: 100%;
    height: 200px;
    position: relative;
    &_backImg {
      width: 100%;
      height: 100%;
    }
    &_logo {
      top: 105px;
      right: 91px;
      height: 62px;
      width: 156px;
      display: block;
      position: absolute;
      @include breakpoint(lg) {
        top: 120px;
      }
      @include breakpoint(sm) {
        display: none;
      }
    }
    &_text {
      top: 59px;
      left: 90px;
      position: absolute;
      @include breakpoint(sm) {
        left: 20px;
      }
      @include breakpoint(xs) {
        top: 20px;
      }
      p {
        font-size: 32px;
        @include breakpoint(md) {
          font-size: 20px;
        }
        font-weight: 300;
        font-family: "Roboto Condensed", sans-serif;
      }
    }
    &_text_white {
      top: 59px;
      left: 90px;
      color: #fff;
      position: absolute;
      @include breakpoint(sm) {
        left: 20px;
      }
      @include breakpoint(xs) {
        top: 20px;
      }
      p {
        font-size: 32px;
        @include breakpoint(md) {
          font-size: 20px;
        }
        font-weight: 300;
        font-family: "Roboto Condensed", sans-serif;
      }
    }
    &_black_back {
      width: 100%;
      height: 200px;
      overflow: hidden;
      position: relative;
      &_ground {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        box-shadow: 100px 0 200px 200px #000;
        background-color: #000;
      }
    }
  }
  .product_body {
    display: flex;
    gap: 55px 45px;
    flex-wrap: wrap;
    padding: 0 90px;
    margin-top: 99px;
    justify-content: center;
    @include breakpoint(md) {
      gap: 0;
      padding: 0;
      margin-top: 0;
    }
  }
}
.see_more {
  display: flex;
  column-gap: 6px;
  color: #939393;
  margin: 50px auto;
  align-items: center;
  white-space: nowrap;
  img {
    height: 24px;
  }
}
.productCart {
  width: 100%;
  max-width: 550px;
  background-color: red;
  @include breakpoint(xl) {
    max-width: 300px;
    background-color: rebeccapurple;
  // }
  // @include breakpoint(lg) {
  //   max-width: 380px;
  // }
  // @include breakpoint(md) {
  //   padding: 20px 20px 0;
  }
  &_img {
    height: 800px;
    @include breakpoint(xl) {
      height: 550px;
    }
    // @include breakpoint(sm) {
    //   height: 550px;
    // }
    position: relative;
    img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }
  .title {
    font-size: 24px;
    font-weight: 300;
    color: #222222;
    margin-top: 25px;
    margin-bottom: 7px;
    @include breakpoint(lg) {
      font-size: 20px;
    }
    @include breakpoint(md) {
      margin-top: 15px;
      font-size: 18px;
    }
  }
  .price {
    font-size: 16px;
    font-weight: 700;
    @include breakpoint(lg) {
      font-size: 15px;
    }
    @include breakpoint(md) {
      font-size: 14px;
    }
  }
}

.relatedProducts {
  h3 {
    font-size: 40px;
    margin: 155px 0 50px;
  }
  .relatedProductBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include breakpoint(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(md) {
      grid-template-columns: repeat(1, 1fr);
    }
    column-gap: 70px;
    .relatedProductCart {
      width: 100%;
      max-width: 400px;
      margin-bottom: 10px;
      .relatedProductCart_img {
        height: 550px;
        position: relative;
        img {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }
      }
      .relatedTitle {
        font-size: 24px;
        color: #222222;
        margin: 49px 0 7px;
        @include breakpoint(lg) {
          font-size: 20px;
        }
        @include breakpoint(md) {
          font-size: 18px;
          margin-top: 25px;
        }
      }
      .relatedPrice {
        font-size: 16px;
      }
    }
  }
}
